@{
    Layout = "_LayoutAdmin";
}
@model Eats_Tech.Models.Tablas
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios Registrados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Comentarios</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Calificacion</th>
                    <th>Comentario</th>
                    <th>Mesero</th>
                    <th>Fecha y hora</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model.Cliente)
                {
                    if (u.Comentarios != "")
                    {
                        <tr>
                            <td>@u.Nombre</td>
                            <td>@u.Calificacion estrellas</td>
                            <td>@u.Comentarios</td>
                            @foreach(var i in Model.Usuario)
                            {
                                if(u.IdMesero == i.ID)
                                {
                                    <td>
                                        @i.Nombre
                                    </td>
                                }
                            }
                            <td>@u.DateTimeComentario</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
