@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<Eats_Tech.Models.Usuario>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios Registrados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Usuarios Registrados</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Tipo de usuario</th>
                    <th><a type="submit" class="btn btn-primary btn-sm" href="@Url.Action("AgregarUsuarios", "Admin")">Agregar usuario</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var u in Model)
                {
                    if(u.TipoUsuario != "Mesa" && u.Activo != 777)
                    {
                        <tr>
                            <td>@u.Nombre</td>
                            <td>@u.Correo</td>
                            <td>@u.TipoUsuario</td>
                            <td>
                                <a type="submit" href="@Url.Action("ModUsuarios", "Admin", new { Id = u.ID })" class="btn btn-primary btn-sm">Modificar</a>
                                <a type="submit" href="@Url.Action("EliUsuarios", "Admin", new { Id = u.ID })" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
