@model Eats_Tech.Models.Tablas
@{
    Layout = "_LayoutSimple";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Imagen de Fondo y Menú de Platillos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        .navbar-custom {
            background-color: #e74c3c;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link,
        .navbar-custom .btn {
            color: white;
            font-family: 'Leckerli One', cursive;
        }

        .navbar-custom .btn {
            margin-left: 10px;
        }

        .bg {
            position: relative;
            min-height: 100vh;
            background-image: url('../Images/Mantel.jpg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .bg::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Cambia el 0.5 por el nivel de opacidad que prefieras */
            z-index: 1;
        }

        .content-wrapper {
            display: flex;
            height: calc(100vh - 56px); /* 56px es la altura aproximada del navbar */
            z-index: 2;
            width: 100%;
            overflow: hidden;
        }

        .products-content {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }

        .menu-section {
            padding: 20px 0;
        }

        .menu-item {
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            transition: transform 0.3s;
            cursor: pointer;
        }

        .menu-item:hover {
            transform: scale(1.05);
        }

        .menu-item img {
            max-width: 220px;
            margin-bottom: 10px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .menu-item-title {
            font-family: 'Leckerli One', cursive;
            font-size: 24px;
            color: #e74c3c;
            margin-bottom: 10px;
        }

        .sidebar {
            width: 450px;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
            padding: 20px;
            overflow-y: auto;
            z-index: 1000;
            position: relative;
        }

        .sidebar h2 {
            font-family: 'Leckerli One', cursive;
            color: #e74c3c;
            text-align: center;
        }

        .platillo-img {
            max-width: 50px;
            margin-right: 10px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .platillo-name {
            font-family: 'Leckerli One', cursive;
            font-size: 18px;
            color: #333;
        }

        .summary-table {
            width: 100%;
            margin-bottom: 20px;
        }

        .summary-table th,
        .summary-table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .summary-table th {
            background-color: #f8f8f8;
        }

        .total {
            font-size: 24px;
            font-weight: bold;
            color: #e74c3c;
            text-align: center;
            margin-top: 20px;
        }

        .finalize-btn {
            background-color: #e74c3c;
            color: white;
            font-family: 'Leckerli One', cursive;
            font-size: 24px;
            padding: 10px 30px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

        .finalize-btn:hover {
            background-color: #c0392b;
        }

        .input-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .decrement-btn, .increment-btn {
            border-radius: 0;
            background-color: #e74c3c;
            color: white;
        }

        .decrement-btn:hover, .increment-btn:hover {
            background-color: #c0392b;
        }

        .numeric {
            max-width: 50px;
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="@Url.Action("Home", "Pedido")">Eats Tech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                @foreach (var i in ViewBag.Categorias)
                {
                    if (i.Activo == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Menu", "Pedido", new { Categoria = i.NombreCategoria })">@i.NombreCategoria</a>
                        </li>
                    }
                }
            </ul>
            <form>
                <a class="navbar-brand">@ViewBag.NombreCliente</a>
                <a class="navbar-brand">@ViewBag.Mesa</a>
            </form>
        </div>
    </nav>

    <!-- Contenedor principal con dos secciones: contenido de productos y sidebar -->
    <div class="bg">
        <div class="content-wrapper">
            <!-- Contenido de productos -->
            <div class="products-content">
                <div class="container menu-section">
                    <div class="row">
                        @foreach(var i in Model.Menu)
                        {
                            if (i.Categoria == ViewBag.Categoria && i.Activo == 1)
                            {
                                <div class="col-md-4">
                                    <a href="@Url.Action("Platillo", "Pedido", new { Platillo = i.Id })">
                                        <div class="menu-item">
                                            <img src="@i.RutaImagen" alt="@i.NombrePlatillo" class="platillo-img">
                                            <div class="menu-item-title">@i.NombrePlatillo</div>
                                            <p>@i.Descripcion</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Sidebar con Resumen -->
            <div class="sidebar">
                @{
                    if (Model.Orden.Count() > 0)
                    {
                        double Total = 0;
                        <div>
                            <h2>Resumen de tu Orden</h2>

                            <table class="summary-table">
                                <thead>
                                    <tr>
                                        <th>Platillo</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model.Orden)
                                    {
                                        if (i.IdCliente == ViewBag.IdCliente && i.Status == "Por pedir")
                                        {
                                            foreach (var j in Model.Menu)
                                            {
                                                if (j.Id == i.IdMenu)
                                                {
                                                    Total += i.Costo;
                                                    <tr data-product-menu-id="@j.Id" data-orden-id="@i.Id">
                                                        <td>
                                                            <img src="@j.RutaImagen" alt="Platillo 1" class="platillo-img">
                                                            <span class="platillo-name">@j.NombrePlatillo</span>
                                                        </td>
                                                        <td>
                                                            <div class="input-group quantity mx-auto" style="width: 120px;">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-secondary decrement-btn" type="button">-</button>
                                                                </div>
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-center numeric"
                                                                    value="@i.Cantidad" data-product-inter-id="@i.Id" readonly>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary increment-btn" type="button">+</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>$@j.Costo</td>
                                                        <td>$@i.Costo</td>
                                                        <td>
                                                            <form asp-controller="Pedido" asp-action="BorrarPedido" method="get">
                                                                <input type="hidden" name="idord" value="@i.Id" />
                                                                <input type="hidden" name="Cate" value="@ViewBag.categoria" />
                                                                <button class="btn btn-danger" type="submit">Borrar</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    break;
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                            <div class="total">Total: $@Total</div>
                            @if (Total != 0)
                            {
                                <form asp-action="Orden" asp-controller="Pedido" method="post">
                                    <input type="hidden" name="Total" value="@Total" />
                                    <button type="submit" class="finalize-btn" >Finalizar orden</button>
                                </form>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info text-center">
                            <p>No hay productos.</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateTotals() {
                var subtotal = 0;
                $('.numeric').each(function () {
                    var cantidad = parseFloat($(this).val());
                    var precio = parseFloat($(this).closest('tr').find('td:eq(2)').text().replace('$', ''));
                    var total = cantidad * precio;
                    subtotal += total;
                    $(this).closest('tr').find('td:eq(3)').text('$' + total.toFixed(2));
                });
                $('.total').text('Total: $' + subtotal.toFixed(2));
            }

            $('.numeric').on("change", function () {
                var valor = $(this).val();
                var idprodInter = $(this).closest('tr').data('product-menu-id');
                var carritoId = $(this).closest('tr').data('orden-id');
                $.ajax({
                    type: 'GET',
                    url: '/api/Values/CambioCantidad',
                    data: { valor: valor, idprodInter: idprodInter, carritoId: carritoId },
                    success: function (response) {
                        updateTotals();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('.increment-btn').on('click', function () {
                var input = $(this).closest('.quantity').find('.numeric');
                var currentValue = parseInt(input.val());
                if (currentValue < 50) {
                    input.val(currentValue + 1).change();
                }
            });

            $('.decrement-btn').on('click', function () {
                var input = $(this).closest('.quantity').find('.numeric');
                var currentValue = parseInt(input.val());
                if (currentValue > 1) {
                    input.val(currentValue - 1).change();
                }
            });

            updateTotals();
        });
    </script>
</body>
</html>
